In [291]:
import pandas as pd
import numpy as np

In [292]:
data = pd.read_excel("C:\\Users\\GÃ¶zde\\Desktop\\data\\ml_onisleme.xlsx")

In [293]:
df = pd.DataFrame()

In [294]:
data.head()

,Ekran_Boyutu,Garanti_Suresi,Ram_(Sistem Bellegi),SSD_Kapasitesi,Isletim_Sistemi,Cozunurluk,price
0,orta ekran,2.0,8,256,Free Dos,1920 x 1080,10499
1,NaN,2.0,32,256,Free Dos,1920 x 1080,11999
2,kucuk ekran,2.0,8,512,Windows,1920 x 1080,14999
3,orta ekran,2.0,16,512,Free Dos,1920 x 1080,11999
4,NaN,2.0,16,256,Free Dos,NaN,6499

In [295]:
df['Ekran_Boyutu'] = data['Ekran_Boyutu']
df['Garanti_Suresi'] = data['Garanti_Suresi']
df['Ram_(Sistem Bellegi)'] = data['Ram_(Sistem Bellegi)']
df['SSD_Kapasitesi'] = data['SSD_Kapasitesi']
df['Isletim_Sistemi'] = data['Isletim_Sistemi']
df['Cozunurluk'] = data['Cozunurluk']
df['price'] = data['price']

In [296]:
df.head()

,Ekran_Boyutu,Garanti_Suresi,Ram_(Sistem Bellegi),SSD_Kapasitesi,Isletim_Sistemi,Cozunurluk,price
0,orta ekran,2.0,8,256,Free Dos,1920 x 1080,10499
1,NaN,2.0,32,256,Free Dos,1920 x 1080,11999
2,kucuk ekran,2.0,8,512,Windows,1920 x 1080,14999
3,orta ekran,2.0,16,512,Free Dos,1920 x 1080,11999
4,NaN,2.0,16,256,Free Dos,NaN,6499

In [297]:
df["price"] = df.price.astype(float)

In [298]:
df.head()

,Ekran_Boyutu,Garanti_Suresi,Ram_(Sistem Bellegi),SSD_Kapasitesi,Isletim_Sistemi,Cozunurluk,price
0,orta ekran,2.0,8,256,Free Dos,1920 x 1080,10499.0
1,NaN,2.0,32,256,Free Dos,1920 x 1080,11999.0
2,kucuk ekran,2.0,8,512,Windows,1920 x 1080,14999.0
3,orta ekran,2.0,16,512,Free Dos,1920 x 1080,11999.0
4,NaN,2.0,16,256,Free Dos,NaN,6499.0

In [299]:
data.to_excel("C:\\Users\\GÃ¶zde\\Desktop\\data\\ml_onisleme2.xlsx", index=False)

In [300]:
df['Isletim_Sistemi'].value_counts()

Isletim_Sistemi
Free Dos      588
Windows       345
Mac Os         33
Linux           8
Ubuntu          3
Windows 11      3
Android         1
Chrome OS       1
Name: count, dtype: int64

In [301]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

In [302]:
df.Ekran_Boyutu.fillna('kucuk ekran',inplace=True)

In [303]:
df['Ekran_Boyutu'].value_counts()

Ekran_Boyutu
orta ekran     595
kucuk ekran    250
buyuk ekran    137
Name: count, dtype: int64

In [304]:
df['Ekran_Boyutu'] = enc.fit_transform(df['Ekran_Boyutu'])

In [305]:
df['Ekran_Boyutu'].value_counts()

Ekran_Boyutu
2    595
1    250
0    137
Name: count, dtype: int64

In [306]:
import pandas as pd

indeksler = [2,1,0]
degerler = ["orta ekran", "kucuk ekran", "buyuk ekran"]

# DataFrame oluÅtur
df_Ekran = pd.DataFrame({'Ekran_Boyutu': degerler}, index=indeksler)

# Ä°ndeksleri sÄ±ralÄ± tablo yapma
df_sirali = df_Ekran.sort_index()
print(df_sirali)

  Ekran_Boyutu
0  buyuk ekran
1  kucuk ekran
2   orta ekran

In [307]:
df_sirali.to_excel('Ekran_Boyutu.xlsx', index=False)

In [308]:
df["Isletim_Sistemi"] = df.Isletim_Sistemi.str.replace(' ', '')

In [309]:
list_Isletim_Sistemi = df["Isletim_Sistemi"].unique()

In [310]:
list_Isletim_Sistemi.sort()
list_Isletim_Sistemi = list(list_Isletim_Sistemi)

In [311]:
df_Isletim_Sistemi = pd.DataFrame()
df_Isletim_Sistemi["Isletim_Sistemi"] = list_Isletim_Sistemi

In [312]:
df_Isletim_Sistemi.to_excel("Isletim_Sistemi.xlsx",index=False)

In [313]:
df

,Ekran_Boyutu,Garanti_Suresi,Ram_(Sistem Bellegi),SSD_Kapasitesi,Isletim_Sistemi,Cozunurluk,price
0,2,2.0,8,256,FreeDos,1920 x 1080,10499.0
1,1,2.0,32,256,FreeDos,1920 x 1080,11999.0
2,1,2.0,8,512,Windows,1920 x 1080,14999.0
3,2,2.0,16,512,FreeDos,1920 x 1080,11999.0
4,1,2.0,16,256,FreeDos,NaN,6499.0
...,...,...,...,...,...,...,...
977,2,2.0,32,512,FreeDos,2560 x 1600,429999.0
978,2,2.0,8,128,Windows,1920 x 1080,8999.0
979,2,2.0,8,512,FreeDos,1920 x 1080,28999.0
980,2,2.0,8,256,FreeDos,1920 x 1080,10179.0
981,1,2.0,32,1,FreeDos,4096 x 2160,24099.0

In [314]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982 entries, 0 to 981
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Ekran_Boyutu          982 non-null    int32
 1   Garanti_Suresi        952 non-null    float64
 2   Ram_(Sistem Bellegi)  982 non-null    int64
 3   SSD_Kapasitesi        982 non-null    int64
 4   Isletim_Sistemi       982 non-null    object
 5   Cozunurluk            871 non-null    object
 6   price                 982 non-null    float64
dtypes: float64(2), int32(1), int64(2), object(2)
memory usage: 50.0+ KB

In [315]:
print(df['Ekran_Boyutu'].isnull().values.any())
print(df['Garanti_Suresi'].isnull().values.any())
print(df['Ram_(Sistem Bellegi)'].isnull().values.any())
print(df['SSD_Kapasitesi'].isnull().values.any())
print(df['Isletim_Sistemi'].isnull().values.any())
print(df['Cozunurluk'].isnull().values.any())
print(df['price'].isnull().values.any())

False
True
False
False
False
True
False

In [316]:
df['Cozunurluk'].value_counts()

Cozunurluk
1920 x 1080    668
2560 x 1600     50
1366 x 768      45
1920 x 1200     31
4480 x 2520     16
2880 x 1800     13
3024 x 1964      9
3840 x 2160      8
2560 x 1440      8
1280 x 800       5
2880 x 1620      3
1600 x 900       2
1920 x 1280      2
1440 x 900       2
5120 x 2880      1
2256 x 1504      1
3072 x 1920      1
3840 x 2400      1
2550 x 1600      1
2560 x 1664      1
2240 x 1400      1
2160 x 1440      1
4096 x 2160      1
Name: count, dtype: int64

In [317]:
df.Garanti_Suresi.fillna(2,inplace=True)
df.Cozunurluk.fillna('1920 x 1080',inplace=True)

In [318]:
nan_values = data["Garanti_Suresi"].isnull().sum()
print("NaN Values in Garanti_Suresi column:", nan_values)

NaN Values in Garanti_Suresi column: 30

In [319]:
# NaN deÄerleri ortalama ile doldurma
mean_value = data["Garanti_Suresi"].mean()
data["Garanti_Suresi"].fillna(mean_value, inplace=True)

# veya NaN deÄerlere sahip satÄ±rlarÄ± kaldÄ±rma
# data.dropna(subset=["Garanti_Suresi"], inplace=True)

In [320]:
df["Garanti_Suresi"] = df.Garanti_Suresi.astype(int)

In [321]:
df["Garanti_Suresi"].value_counts()

Garanti_Suresi
2    969
3     12
1      1
Name: count, dtype: int64

In [322]:
df['Cozunurluk'].value_counts()

Cozunurluk
1920 x 1080    779
2560 x 1600     50
1366 x 768      45
1920 x 1200     31
4480 x 2520     16
2880 x 1800     13
3024 x 1964      9
3840 x 2160      8
2560 x 1440      8
1280 x 800       5
2880 x 1620      3
1600 x 900       2
1920 x 1280      2
1440 x 900       2
5120 x 2880      1
2256 x 1504      1
3072 x 1920      1
3840 x 2400      1
2550 x 1600      1
2560 x 1664      1
2240 x 1400      1
2160 x 1440      1
4096 x 2160      1
Name: count, dtype: int64

In [323]:
list_Cozunurluk = df["Cozunurluk"].unique()

In [324]:
list_Cozunurluk.sort()
list_Cozunurluk = list(list_Cozunurluk)

In [325]:
import pandas as pd

df_Cozunurluk = pd.DataFrame()
df_Cozunurluk["Cozunurluk"] = list_Cozunurluk

In [326]:
df_Cozunurluk.to_excel("Cozunurluk.xlsx",index=False)

In [327]:
print(df['Ekran_Boyutu'].isnull().values.any())
print(df['Garanti_Suresi'].isnull().values.any())
print(df['Ram_(Sistem Bellegi)'].isnull().values.any())
print(df['SSD_Kapasitesi'].isnull().values.any())
print(df['Isletim_Sistemi'].isnull().values.any())
print(df['Cozunurluk'].isnull().values.any())
print(df['price'].isnull().values.any())

False
False
False
False
False
False
False

In [328]:
df

,Ekran_Boyutu,Garanti_Suresi,Ram_(Sistem Bellegi),SSD_Kapasitesi,Isletim_Sistemi,Cozunurluk,price
0,2,2,8,256,FreeDos,1920 x 1080,10499.0
1,1,2,32,256,FreeDos,1920 x 1080,11999.0
2,1,2,8,512,Windows,1920 x 1080,14999.0
3,2,2,16,512,FreeDos,1920 x 1080,11999.0
4,1,2,16,256,FreeDos,1920 x 1080,6499.0
...,...,...,...,...,...,...,...
977,2,2,32,512,FreeDos,2560 x 1600,429999.0
978,2,2,8,128,Windows,1920 x 1080,8999.0
979,2,2,8,512,FreeDos,1920 x 1080,28999.0
980,2,2,8,256,FreeDos,1920 x 1080,10179.0
981,1,2,32,1,FreeDos,4096 x 2160,24099.0

In [329]:
df.to_excel("C:\\Users\\GÃ¶zde\\Desktop\\data\\ml_onisleme2.xlsx", index=False)

In [330]:
df['Ekran_Boyutu'] = enc.fit_transform(df['Ekran_Boyutu'])
df['Isletim_Sistemi'] = enc.fit_transform(df['Isletim_Sistemi'])
df['Cozunurluk'] = enc.fit_transform(df['Cozunurluk'])
df

,Ekran_Boyutu,Garanti_Suresi,Ram_(Sistem Bellegi),SSD_Kapasitesi,Isletim_Sistemi,Cozunurluk,price
0,2,2,8,256,2,4,10499.0
1,1,2,32,256,2,4,11999.0
2,1,2,8,512,6,4,14999.0
3,2,2,16,512,2,4,11999.0
4,1,2,16,256,2,4,6499.0
...,...,...,...,...,...,...,...
977,2,2,32,512,2,12,429999.0
978,2,2,8,128,6,4,8999.0
979,2,2,8,512,2,4,28999.0
980,2,2,8,256,2,4,10179.0
981,1,2,32,1,2,20,24099.0

In [331]:
df.to_excel("ml_onisleme3.xlsx",index=False)

In [332]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982 entries, 0 to 981
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Ekran_Boyutu          982 non-null    int64
 1   Garanti_Suresi        982 non-null    int32
 2   Ram_(Sistem Bellegi)  982 non-null    int64
 3   SSD_Kapasitesi        982 non-null    int64
 4   Isletim_Sistemi       982 non-null    int32
 5   Cozunurluk            982 non-null    int32
 6   price                 982 non-null    float64
dtypes: float64(1), int32(3), int64(3)
memory usage: 42.3 KB